#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.instalasi {
    font-size: 40px;
    font-weight: bold;
}

.sub-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .room-input, .status-input {
    margin-bottom: 15px;
  }
  
  form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  select,
  input[type="number"],
  button {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    border: 1px solid;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
  }
  
  button:hover {
    background-color: #c4c7ca;
  }
  
  .submitted-data {
    margin-top: 30px;
  }
  
  .submitted-data h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .submitted-data ul {
    list-style: none;
    padding: 0;
  }
  
.submitted-data li {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  


